.photo-grid {
  margin-top: 92px;
  width: calc((1184 / 1280) * 100%);
  max-width: 1184px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 925px) {
  .photo-grid {
    margin-top: 88px;
    width: calc((720 / 768) * 100%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 675px) {
  .photo-grid {
    margin-top: 64px;
    width: calc((288 / 320) * 100%);
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

@media screen and (max-width: 480px) {
  .photo-grid {
    /*height: 2724px;*/
  }
}
