.places {
  margin-top: 92px;
  width: calc((984 / 1280) * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .places {
    position: static;
    margin-left: calc(48 / 1024 * 100%);
    width: calc((928 / 1024) * 100%);
  }
}

@media screen and (max-width: 925px) {
  .places {
    margin-left: 0;
    margin-top: 88px;
    display: block;
    width: calc((720 / 768) * 100%);
  }
}

@media screen and (max-width: 695px) {
  .places {
    margin-top: 64px;
    width: 100%;
  }
}
