.lead {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc((984 / 1184) * 100%);
    /*width: 984px;*/
    height: 1005px;

    margin-top: 56px;

    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
    height: 962px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    height: 862px;
  }
}
