.header__logo {
  width: 176px;
  height: 100%;

  background-image: url(../../../images/__logo.svg);
  background-size: contain;
  transition: opacity .3s ease-in-out;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 675px) {
  .header__logo {
    width: 142px;
  }
}
