.header__logo {
  width: 176px;
  height: 100%;

  background-image: url(../../../media/images/__logo.svg);
  background-size: contain;
}

@media screen and (max-width: 675px) {
  .header__logo {
    width: 142px;
  }
}
