.header {
  width: 92.5%;
  min-height: 52px;

  margin-top: 28px;

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 675px) {
  .header {
    width: 90%;
    min-height: 42px;

    margin-top: 16px;
  }
}
