.footer__links {
  width: 465px;
  height: 100%;

  padding: 0;

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 695px){
  .footer__links {
    width: 100%;
    min-height: 248px;
    flex-direction: column;
  }
}
