.intro {
  position: relative;
  width: 690px;
  right: calc((calc((984 / 1184) * 100%) - 690px) / 2);
  /*height: 429px;*/

  margin-top: 92px;

  color: #FFFFFF;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .intro {
    position: static;
  }
}

@media screen and (max-width: 925px) {
  .intro {
    width: calc((720 / 768) * 100%);
    margin-top: 88px;
  }
}

@media screen and (max-width: 675px) {
  .intro {
    width: calc((288 / 320) * 100%);
    max-height: 754px;
    margin-top: 64px;
  }
}
