.cover {
  margin-top: 92px;

  width: 1184px;
  height: 740px;

  color: #FFFFFF;
  background-image: url(../../media/images/cover__background.jpg);
}

.cover a {
  text-decoration: none;
  color: #FFFFFF;
}
