.places__place {
  width: 984px;
  /*max-width: 984px;*/

  margin-bottom: 80px;

  display: grid;
  grid-template-rows: min-content 460px;
  grid-template-columns: 460px 484px;
  grid-template-areas:
                  "title website"
                  "image paragraph";

  row-gap: 48px;
  column-gap: 40px;
}

.places__place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    width: 100%;
    grid-template-rows: min-content 440px;
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 925px) {
  .places__place {
    grid-template-rows: min-content minmax(340px, min-content);
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    column-gap: 28px;

    margin-bottom: 72px;
  }
}
