.places__place {
  width: 984px;
  /*max-width: 984px;*/

  margin-bottom: 80px;

  display: grid;
  grid-template-rows: min-content 460px;
  grid-template-columns: 460px 484px;
  grid-template-areas:
                  "title website"
                  "image paragraph";

  row-gap: 48px;
  column-gap: 40px;
}

.places__place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    width: 928px;
    grid-template-rows: min-content 440px;
    grid-template-columns: 440px 456px;
  }
}
