.footer {
  width: 92.5%;

  margin-top: 92px;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;

  color: #FFFFFF;
}

@media screen and (max-width: 695px) {
  .footer {
    width: 90%;

    min-height: 310px;

    margin-top: 64px;

    flex-direction: column;
  }
}
